footer{
  position: relative;
  width: 100%;
  padding: 40px 10vw 40px;
  background: #97BFB4;
}

.footer-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-content .logo{
  height: 80px;
}

.contact{
  padding: 25px 10px 0;
  text-decoration: none;
  color: #518f7e;

}

.contact:visited{
text-decoration: none;
color: #518f7e;
}

.contact:hover{
text-decoration: none;
color: #fff;
}

.about-company{
  text-align: justify;
  margin-top: 30px;
  line-height: 1.5;
  font-size: 12px;
  color: #fff;
}

.company{
  padding-bottom: 20px;
  font-size: 15px;
}

.copyright{
  margin: 20px auto 0;
  font-size: 15px;
  color: #518f7e;
  text-align: center;
}
